<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="../style/stylesheet.css" type="text/css">
    <meta charset="UTF-8">
    <title>User_Create_Succes</title>
</head>

  <body>
    <header class="user-form-header">
      <h1>
        Welcome to the SuperWishList
      </h1>
      <p><em>You've now created a user who has acces to the SuperWishList!</em></p>
      <hr>
      <nav>
        <a href="create_user_form">Create new user</a>
        <a href="/login">Login</a>
        <a href="wishlist">WishList</a>
      </nav>
      <hr>

    </header>
    <h4>Click on the link below to login</h4>

    <a href="/login">Go to login</a>

    <section id="submit-user-form-succes">
      <p th:text="${'username: ' + User.getUsername()}"></p>
      <p th:text="${'password: ' + User.getPassword()}"></p>

    </section>

    <footer id="foot">
      <hr>
      <nav>
        <a href="create_user_form">Create User</a>
        <a href="/login">User Login</a>
        <a href="wishlist">WishList</a>
      </nav>
      <hr>

      <div id="foot-text">
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert - Lukasz •  •</p>
      </div>
    </footer>

  </body>
</html>