<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WishCreator</title>
</head>
<body>
<header class="user-form-header">
  <h1>
    Welcome to the SuperWishList
  </h1>
  <p><em> The Wishlist..</em></p>
  <hr>
  <nav>
    <a href="create_user_form">Create new user</a>
    <a href="index">Login</a>
    <a href="wishlist">WishList</a>
  </nav>
  <hr>
</header>

<footer id="foot">
  <hr>
  <nav>
    <a href="create_user_form">Create new user</a>
    <a href="login">Login</a>
    <a href="wishlist">WishList</a>
  </nav>
  <hr>

  <div id="foot-text">
    <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert - Lukasz •  •</p>
  </div>
</footer>
</body>
</html>