<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../style/stylesheet.css" type="text/css">
    <meta charset="UTF-8">
    <title>wishlist_create</title>
</head>

<body>
<header class="user-form-header">
    <h1>
        Welcome to the SuperWishList
    </h1>
    <p><em> The Wishlist..</em></p>
    <hr>
    <nav>
        <a href="create_user_form">Create new user</a>
        <a href="login">Login</a>
        <a href="wishlist">WishList</a>
    </nav>
    <hr>
</header>

<h2>
    Create your Wishlist with a name and an end-date..
</h2>
<form action="/submit_create_wishlist_form" method="post">
    <ul>
        <li><label for="wishlistname">Wishlist Name:</label></li>
        <input type="text" name="wishlistname" id="wishlistname">
        <li><label for="enddate">Wishlist Deadline</label></li>
        <input type="date" name="enddate" id="enddate">
        <!-- button -->
        <input type="submit" name="create list" id="submit-list">
    </ul>
</form>
<hr>
<h2>
    Add wishes to your Wishlist with comments and weblinks to dealers..
</h2>
<form action="/submit_create_wish_form" method="post">
    <ul>
        <li><label for="title">Gift Title</label></li>
        <input type="text" name="title" id="title">
        <li><label for="link">Link to dealer</label></li>
        <input type="text" name="link" id="link">
        <li><label for="fulfillwish">Gift comments</label></li>
        <input type="text" name="fulfillwish" id="fulfillwish">
        <!-- button -->
        <input type="submit" name="add wish to list" id="submit-wish">
    </ul>
</form>
<footer id="foot">
    <hr>
    <nav>
        <a href="create_user_form">Create new user</a>
        <a href="index">Login</a>
        <a href="wishlist">WishList</a>
    </nav>
    <hr>

    <div id="foot-text">
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert - Lukasz •  •</p>
    </div>
</footer>

</body>
</html>