<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style/stylesheet.css">
  <title>user-form</title>
</head>
  <body class="user-form-body">

    <header class="user-form-header">
      <h1>
        Create User Form
      </h1>
      <p><em>Welcome to the SuperWishList</em></p>
      <hr>
      <nav>
        <a href="create_user_form">Create User</a>
        <a href="login">Login</a>
        <a href="wishlist">WishList</a>
      </nav>
      <hr>
    </header>
    <form action="/submit_create_user_form" method="post">
      <ul>
        <li><label for="username">User Name</label></li>
        <input type="text" name="username" id="username">
        <li><label for="password">Choose a Password</label></li>
        <input type="password" name="password" id="password">

        <!-- button -->
        <input type="submit" name="submit" id="submit">
      </ul>
    </form>

    <footer id="foot">
      <hr>
      <nav>
        <a href="create_user_form">Create User</a>
        <a href="index">Login</a>
        <a href="wishlist">WishList</a>
      </nav>
      <hr>

      <div id="foot-text">
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert - Lukasz •  •</p>
      </div>
    </footer>
  </body>
</html>