<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/stylesheet.css" type="text/css">
    <meta charset="UTF-8">
    <title>SuperWishList</title>
</head>

    <body>

        <h1>
            Welcome
        </h1>
        <header class="user-form-header">
                <p><em>to the SuperWishList</em></p>
            <hr>
            <nav>
                <a href="create_user_form">Create User</a>
                <a href="login">Login</a>
                <a href="wishlist">WishList</a>
            </nav>
            <hr>
        </header>


        <footer id="foot">
            <hr>
            <nav>
                <a href="create_user_form">Create User</a>
                <a href="login">Login</a>
                <a href="wishlist">WishList</a>
            </nav>
            <hr>

            <div id="foot-text">
                <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert - Lukasz •  •</p>
            </div>
        </footer>

    </body>
</html>
